include header.jade

div.fill.container.bod-container
  div.container.create-controls
    button#add-step.btn.btn-primary(type='button') Add Step
  
  div.form-container.container 
    form#create-form
      div.form-group
        div.input-group
          div.input-group-addon Scenario Name:
          input.form-control#scenario-name(name="scenario_name")
  
  div.container.submit-controls
    button#submit-scenario.btn.btn-primary(type='submit') Submit Scenario

script(type='text/javascript').
  $(document).ready(function(){
    var create = new Create();
    $("#add-step").on("click", function(){
     create.addStep(".form-group", "Step");
    });
   
    $(".form-group").on("dblclick", ".input-group-addon", function(){
      $(this).html(create.addStepType());
    }); 
   
    $(".form-group").on("dblclick", ".glyphicon-remove", function(){
      $(this).parent().remove();
    });
    
    $("#submit-scenario").on("click", function(){
      $("#create-form").trigger("submit");
    });
   
    $("#create-form").on("submit", function(event){
      event.preventDefault();
      event.stopPropagation();
      var scenarioObject = {};
      var scenarioData = $(this).serializeArray();
      console.log(scenarioData);
      _.each(scenarioData, function(o){
        scenarioObject[o.name] = o.value;
      });
      create.send(scenarioObject).success(function(){
        console.log('Successfully submitted scenario');
      }).fail(function(err){
        console.log("Unable to create scenario: " + err);
      });
    });
 
  });




include footer.jade
