include header.jade

div.fill.container.bod-container
  div.container.create-controls
    button#add-step.btn.btn-primary(type='button') Add Step
  
  div.container.alert.action-status 

  div.form-container.container 
    form#create-form
      div.form-group
        div.input-group
          div.input-group-addon Scenario Name:
          input.form-control#scenario-name(name="scenario_name", required)
          input#scen_id(type="hidden", name="scen_id")
  
  div.container.submit-controls
    button#submit-scenario.btn.btn-primary(type='submit') Submit Scenario

script(type='text/javascript').
  $(document).ready(function(){
    var scenario = new Scenario();
    var formValidation = new Helper.Forms();
    var random = new Helper.Random();
    
    // key between scenario and steps 
    $("#scen_id").val(random.guid()); 
  
    $("#add-step").on("click", function(){
      create.addStep(".form-group", "Step");
    });
   
    $(".form-group").on("dblclick", ".glyphicon-remove", function(){
      $(this).parent().remove();
    });
    
    $("#submit-scenario").on("click", function(){
      $("#create-form").trigger("submit");
    });
   
    $("#create-form").on("submit", function(event){
      event.preventDefault();
      event.stopPropagation();
      if(!formValidation.allInputsSet("#create-form"))
        return; 
      var scenarioObject = {};
      _.each($(this).serializeArray(), function(o){
        scenarioObject[o.name] = o.value;
      });
      create.save(scenarioObject).done(function(){
        $(".action-status").addClass("alert-success").html("Succesfully submitted scenario");
      }).fail(function(err){
        console.log(err);
        $(".action-status").addClass("alert-danger").html("Failed saving scenario: " + err.responseText);
      }).always(function(){
        window.setTimeout(function(){
          $(".action-status").removeClass("alert-success").removeClass("alert-danger").html("");
        }, 5000);
      });
    });
  });


include footer.jade
