include header.jade

div.fill.container.bod-container
  div.container.create-controls
    button.btn.btn-primary(type='button') Add Step
  
  div.form-container.container 
    form#create-form
      div.form-group
        input.form-control#scenario-name(placeholder="Scenario Name", name="scenario_name")
  






include footer.jade
