include header.jade

div.fill.container.bod-container
  div.container.create-controls
    button#add-step.btn.btn-primary(type='button') Add Step
  
  div.form-container.container 
    form#create-form
      div.form-group
        div.input-group
          div.input-group-addon Scenario Name:
          input.form-control#scenario-name(name="scenario_name")
  
  div.container.submit-controls
    button#submit-step.btn.btn-primary(type='button') Submit Scenario

script(type='text/javascript').
  $(document).ready(function(){
    var create = new Create();
    $("#add-step").on("click", function(){
     create.addStep(".form-group", "Step");
    });
   
    $(".form-group").on("dblclick", ".input-group-addon", function(){
      $(this).html("<select class='step-type'>" +
        "<option value='given'>Given</option>" +
        "<option value='when'>When</option>" +
        "<option value='then'>Then</option>" +
        "<option value='and'>And</option>" +
        "<option value='but'>But</option></select>");
    }); 
   
    $(".form-group").on("dblclick", ".glyphicon-remove", function(){
     $(this).parent().remove();
    }); 
  
 
  });




include footer.jade
