include header.jade

div.dropzone


div.stepszone
  div.draggable.drag-drop Given I am Logged In as ""
  div.sections When I create an assignment with {|opt|val|}
  div.sections When I route the assignment to ""
  div.draggable.drag-drop When I load the "" page
  div.draggable.drag-drop When I create a Test {|opt|val|}
  div.draggable.drag-drop When I create a Survey {|opt|val|}
  div.draggable.drag-drop When I create a Project {|opt|val|}
  div.draggable.drag-drop When I create a new location {|opt|val}
  div.draggable.drag-drop When I create a new client {|opt|val}
  div.draggable.drag-drop When I create a new contact {|opt|val}
  div.draggable.drag-drop When I create a new WorkUpload {|opt|val}
  div.draggable.drag-drop When I create a new talent pool {|opt|val}
  div.draggable.drag-drop When I create a new campaign {|opt|val}
  div.draggable.drag-drop When I create a new invitation {|opt|val}
  div.draggable.drag-drop When I set the search filters to {opt|val} 
  div.draggable.drag-drop When I search for a talent {opt|val} 
  div.draggable.drag-drop When I add funds {opt|val}
  div.draggable.drag-drop When I manage funds {opt|val}
  div.draggable.drag-drop When I add a new payment account {opt|val}










include footer.jade
