include header.jade

div.fill.container.bod-container
  form.form-signin(action="/doLogin")
    h2.form-signin-heading Sign in
    label.sr-only(for="inputEmail") Email Address:
    input.form-control#inputEmail(type="email", placeholder="Email Address", name="email", required, autofocus)
    label.sr-only(for="inputPassword") Password
    input.form-control#inputPassword(type="password", placeholder="Password", name="password", required)
    div.checkbox Remember me
      label
        input(type="checkbox", value="remember-me") 
    button.btn.btn-lg.btn-primary.btn-block(type="submit") Sign in











include footer.jade
