include header.jade


div.container.fill.bod-container
  div.table-responsive#scenariosTable
    div.scenario-header SCENARIOS
    - each scenario in scenarios
      div.scenario-row(data-id="#{scenario._id}") #{scenario.scenario_name}
        div.scenario-steps



script(type='text/javascript').
  $(document).ready(function(){
    var queue = new Queue();
    $(".scenario-row").on("dblclick", function(){
      var sid = $(this).data("id");
      var that = this;
      var stepArry = [];
      queue.findById(sid).done(function(scenario){
        var loop = 1;
        var sa = [];
        var steps = scenario.scenario_steps;
        $.each(steps, function(k, v) {
          if(steps['step_type_' + loop] !== undefined){
            sa.push(steps['step_type_' + loop] + " " + steps['step_name_' + loop]);
            loop += 1; 
          }
        });
        sa.forEach(function(step){
          var sdiv = document.createElement("div");
          var sinput = document.createElement("input");
          sinput.className = 'form-control';
          $(sinput).val(step);
          $(sdiv).append(sinput);
          stepArry.push(sdiv);

        }); 
      }).fail(function(err){
        console.log(err);
      });
    }); 
  });

include footer.jade
