include header.jade


div.container.fill.bod-container
  div.table-responsive#scenariosTable
    div.scenario-header
      h5 Unautomated Scenarios
    - each scenario in scenarios
      div.scenario-row.clearfix(data-id="#{scenario._id}")
        h4 #{scenario.scenario_name}
        form.scenario-steps-form
          div.scenario-steps


script(type='text/javascript').
  $(document).ready(function(){

    var queue = new Queue();
    $(".scenario-row").on("dblclick", function(){
      var sid = $(this).data("id");
      var that = this;
      var stepArry = [];
      queue.findById(sid).done(function(scenario){
      }).fail(function(error){
          console.error(error);
      });
    });

    $(".scenario-steps-form").on("submit", function(event){
        event.preventDefault();
        event.stopPropagation();
        console.log($(this).serializeArray());
    });

  });

include footer.jade
