include header.jade


div.container.fill.bod-container
  div.table-responsive#scenariosTable
    div.scenario-header SCENARIOS
    - each scenario in scenarios
      div.scenario-row(data-id="#{scenario._id}") #{scenario.scenario_name}












include footer.jade
