include header.jade


div.container.fill.bod-container
  div.table-responsive#scenariosTable
    div.scenario-header
      h5 Unautomated Scenarios
    - each scenario in scenarios
      div.scenario-row.clearfix(data-id="#{scenario._id}")
        h4 #{scenario.scenario_name}
        form.scenario-steps-form
          div.scenario-steps


script(type='text/javascript').
  $(document).ready(function(){

    var queue = new Queue();
    $(".scenario-row").on("dblclick", function(){
      var sid = $(this).data("id");
      var that = this;
      var stepArry = [];
      queue.findById(sid).done(function(scenario){
        var loop = 1;
        var sa = [];
        var steps = scenario.scenario_steps;
        $.each(steps, function(k, v) {
          if(steps['step_type_' + loop] !== undefined){
            sa.push(steps['step_type_' + loop] + " " + steps['step_name_' + loop]);
            loop += 1; 
          }
        });
        sa.forEach(function(step){
          var sdiv = document.createElement("div");
          var sinput = document.createElement("input");
          sinput.className = 'form-control';
          sinput.name = 'step' + loop;
          loop = loop + 1;
          $(sinput).val(step);
          $(sdiv).append([sinput, ssubmit]);
          stepArry.push(sdiv);
        });
        var sdiv = document.createElement("div");
        var ssubmit = document.createElement("input");
        ssubmit.type = "submit";
        ssubmit.className = "btn btn-info update-steps";
        ssubmit.value = "Update";
        $(sdiv).append(ssubmit);
        stepArry.push(sdiv);
        $(that).children("form").children(".scenario-steps").html(stepArry);
      }).fail(function(err){
          console.log(err);
      });
    });


    $(".scenario-steps-form").on("submit", function(event){
        event.preventDefault();
        event.stopPropagation();
        $(this).serializeArray();
    });

  });

include footer.jade
