/* defaults */
html, body{
  height: 96%;
}
/* defaults */


/* Navigation styles */

/* Navigation styles */


/* Body styles */

.form-signin{
  margin: 0 auto;
  width: 500px;
}

.checkbox label{
 margin-left: 5px;
}

.has-err{
    border: 2px solid red;
  }

.bod-container {
  background-color: #ddd;
  width: 100%;
  margin-top: 50px;
  padding: 5px;
}

.fill {
  min-height: 100%;
  height: 100%;
}

.action-status{
  width: 500px;
  text-align: center;
}

/* LOGIN PAGE STYLES */
#login-page{
  padding-top: 20px;
}

/* LOGIN PAGE STYLES */





/* CREATE SCENARIO PAGE STYLES */ 
#create-form .form-group{
  width: 500px;
  margin: 0 auto;
}

.create-controls button, .submit-controls button{
  float: right;
}

#create-form .input-group{
  margin-bottom: 5px;
}

.glyphicon-remove{
  position: absolute;
  top: 10px;
  right: -20px;
  color: #f00;
}

.glyphicon-remove:hover{
  cursor: pointer
}

.step-type{
  font-size: 20px;
}

/* CREATE SCENARIO STYLES */


/* QUEUE PAGE STYLE */
.scenario-row{
  border: 1px solid black;
  background-color: #fff;
  padding: 5px;
  margin-bottom: 5px;
}

.scenario-row h4:hover{
  cursor: pointer;
}

.scenario-row .form-control{
  margin: 5px;
}

.scenario-steps div{
  width: 50%;
}

.scenario-steps .btn{
  float: right;
}

/* QUEUE PAGE STYLE */


/* drag page style */

.dropzone { 
  border: 2px solid #ddd;
  height: 95%;
  width: 65%;
  float: left;
  margin: 55px 5px 0px 5px;
  background-color: #ddd;
  position: relative;
}

.dropzone .btn-primary {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.dropzone .draggable {
  width: 100%;
  text-align: center;
}

.dzheader {
  background-color: #F7961D;
  margin-bottom: 5px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.stepszone .draggable {
  width: 100%;
}



.dropzone .draggable span {
  float: right;
  margin-right: 5px;
}

.stepszone {
  border: 2px solid #aaa;
  height: 95%;
  width: 30%;
  float: right;
  margin: 55px 5px 0px 0px;
  overflow: scroll;
}

.section {
  border: 1px solid #999;
  text-align: center;
  font-weight: bold;
  background-color: #F7961D;
  color: #fff;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
  background-color: #29e;
  border-color: #fff;
  border-style: solid;
}

.drag-drop {
  display: inline-block;
  min-width: 40px;
  padding: 3px;
  color: #fff;
  background-color: #29e;
  border: solid 2px #fff;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  transition: background-color 0.3s;
  cursor: move;
  cursor: grab;
}

.drag-drop.can-drop {
  color: #000;
  background-color: #4e4;
}


/* drag page style */


/* Body styles */







/* Footer styles */

#footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height:40px;
  background-color: #f5f5f5;
}
#footer .container{
  text-align: center;
}
#footer .container p {
 padding-top: 1%;
}


/* Footer styles */


